body {
	background-image: linear-gradient(to top right, #C02425 , #F0CB35);
	background-attachment: fixed;
}

h1, p, label, button, input, a, body {
	margin-block-start: 0em;
    margin-block-end: 0px;
	color: rgb(46, 46, 46);
	font-family: "Lato";
}
p, label, button, input, a, body {
	font-size:2vw;
	font-weight: normal;
}
h1 {
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
}
input {
	margin: 5px;
	padding: 5px 10px;
}

.show {
	position: absolute;
	box-sizing: border-box;
	border: 5px solid #ffffff48;
	padding: 2vw;
	border-radius: 2vw;
	background-color: #ffffffa8;
	box-shadow: 0px 0px 15px 15px #ffffff6c;
	
}

.center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.question {
	left: 25%;
	top: 5%;

	width: 50%;
	height: 60%;
	text-align: center;
}
#card {
	font-size: 3vw;
	font-weight: bold;
	margin-block-start: .5em;
}

.teamA {
	left: 5%;
	top: 75%;

	width: 25%;
	height: 20%;

	display: flex;
  	justify-content: center;
  	align-items: center;
	text-align: center;
}
.teamB {
	right: 5%;
	top: 75%;

	width: 25%;
	height: 20%;

	display: flex;
  	justify-content: center;
  	align-items: center;
	text-align: center;
}
.buttons {
	left: 35%;
	top: 75%;

	width: 30%;
	height: 20%;

	position: absolute;

	display: flex;
  	justify-content: center;
  	align-items: center;
}

button {
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
}

.iconButton {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	

}

.material-icons-two-tone.md-l {
	font-size: 5vw;
	filter: invert(100);
}

.material-icons-two-tone.md-xl {
	font-size: 7vw;
	filter: invert(100);
}

.material-icons-two-tone.md-cat {
	color: rgb(46, 46, 46);
	font-size: 2vw;
	padding: 5px;
}

.categorySameLine {
	display: flex;
  	justify-content: center;
  	align-items: center;
	text-align: center;
}

.startUpButton {
	margin: 5px;
}